@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-300 overflow-hidden select-none;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #1f2937;
}

@layer utilities {
    .canvas-bg {
        background-image: linear-gradient(45deg, #1f2937 25%, transparent 25%),
          linear-gradient(-45deg, #1f2937 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, #1f2937 75%),
          linear-gradient(-45deg, transparent 75%, #1f2937 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }
}
